<div ng-controller="statisticsController" layout="row" flex="100" layout-wrap>
    <h3 flex="100">Tamaño de muestra&nbsp;<input ng-model="regretionSize" type="number", min="1"
               style="width: 50px !important;" ng-change="recalculateRegression()"/>&nbsp;dias</h3>
    <md-card layout-padding layout="column" flex="45">
        <h3>Cierre</h3>
        <md-divider/>
        <label>El ultimo valor fue {{current.closingLastValue | number : 2}}</label>
        <br>
        <label>El siguiente valor es {{current.closingNextValue | number : 2}}</label>
        <br>
        <label>Ganancia <label in-color ng-model="current.closingPercent">
            {{current.closingPercent | number : 2}}%</label></label>
    </md-card>
    <md-card layout-padding layout="column" flex="45">
        <h3>Apertura</h3>
        <md-divider/>
        <label>El siguiente salto es <label in-color ng-model="current.jumpPercent">
            {{current.jumpPercent | number : 2}}%</label></label>
        <br/>
        <label>El siguiente valor es {{current.openingNextValue | number : 2}}</label>
        <br/>
        <label>Ganancia entre apertura y cierre <label in-color ng-model="current.totalPercent">
            {{current.totalPercent | number : 2}}%</label></label>
    </md-card>
    <md-card layout-padding layout="column" flex="100">
        <div google-chart chart="chartRegretion" style="height:200px; width:100%;"></div>
    </md-card>
</div>