body {
    padding-bottom: 10px;
}

.header {
    position: fixed;
}

.content {
    position: relative;
    top: 64px;
}

.centerer{
    text-align: center !important;
}

.grey {
    background-color: grey;
}

.light-grey {
    background-color: lightgrey;
}