body {
    padding-bottom: 10px;
}

.header {
    position: fixed;
    height: 96px !important;
}

.menu-button {
    top: 10px !important;
    right: 10px !important;
}

.content {
    position: relative;
    top: 102px;
}

.centerer{
    text-align: center !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.grey {
    background-color: grey !important;
}

.dark-grey {
    background-color: #303030 !important;
}

.light-grey {
    background-color: lightgrey;
}

.green {
    background-color: #37bbad !important;
}

.blue {
    background-color: #2196f3 !important;
}

.dark-green {
    background-color: #1c758a !important;
}

md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 800px !important;
    width: 50vw !important;
    max-width: 800px !important;
}